<%- include("partials/header.ejs") %>
<table>
    <thead>
      <tr>
        <th>Event</th>
        <th>Details</th>
        <th>Time</th>
        <th>Date</th>
        <th>Venue</th>
        <th>Committees</th>
        <th>Event Banner</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% for(let event of events){ %>
      <tr>
        <td><%=event.event_name%></td>
        <td><%=event.event_details%></td>
        <td><%=event.event_time%></td>
        <td><%=new Date(event.event_date).toLocaleDateString() %></td>
        <td><%=event.event_venue%></td>
        <td><%= event.admin_id %></td>
        <td>
          <img src="/images/<%= event.event_banner %>" alt="Event Banner" style="width: 100px; height: 100px;">
        </td>
        <% if (new Date().toLocaleDateString() === new Date(event.event_date).toLocaleDateString()){%>
        <td>the event is today</td>
          <% }else if(new Date() < new Date(event.event_date)){ %>
            <td>The upcoming</td>
            <% }else{ %>
              <td>The event is ended</td>
              <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>

  <script>
    alert("To join the event please register or login");
  </script>
<%- include("partials/footer.ejs") %>